<% provide(:title, 'DevNation Bank ATM') %>

<h1>Atm#show</h1>
<p>Find me in app/views/atm/show.html.erb</p>
<% if @customer %>
<h1><%= @customer.name %></h1>
<% else %>
<h1>Select Account</h1>
<% end %>
