<% provide(:title, @checking_account.account_number) %>

<p id="notice"><%= notice %></p>

<h2>Account : <%= @checking_account.account_number %></h2>
<p>
  <strong>Balance:</strong>
  <%= @checking_account.balance %>
</p>