<% if @customer.errors.any? %>
    <div class="alert alert-error">
      The form contains <%= pluralize(@customer.errors.count, "error") %>.
    </div>
  <div id="error_explanation">
    <ul>
    <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>